# ==============================
# Grafana Configuration
# ==============================
GRAFANA_PASSWORD=your_grafana_password

# ==============================
# MySQL Configuration
# ==============================
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

# ==============================
# Email Alertmanager (SMTP)
# ==============================
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
